
    <%- include('partials/header'); -%>

    <header>
      <div class="smoothie">
        <img src="/smoothie.png" alt="">
        <!-- <img src="/burger.png" alt="">
        <img src="/pizza.png" alt="">
        <img src="/cake.png" alt=""> -->
      </div>
      <div class="headings">
        <h2>Smoothie Recipes</h2>
        <h3>Yuba for Store</h3>
        <a href="/smoothies" class="btn">View Recipes</a>
      </div>
    </header>
    
    
    <%- include('partials/footer'); -%>