<%-include('partials/header.ejs');-%>

 <form>
    <h2>Sign up</h2>
    <label for="Email">Email</label>
    <input type="text" name="email" required>
    <div class="email error" ></div>
    
    <label for="password">Password</label>
    <input type="password" name="password">
    <div class="password error" ></div>

    <button>Sign up</button>
 </form>
 <script>
 const errorEmail = document.querySelector(".email.error");
 const errorPassword = document.querySelector(".rpassword.error");
 const form = document.querySelector('form');
 
     form.addEventListener('submit',async(e)=>{
         e.preventDefault();

         //reset errors
            errorEmail.textContent = '';
            errorPassword.textContent = '';
         //get the  values
           const email= form.email.value;
          const password = form.password.value;
     try {
            const res =  await fetch('/signup',{
             method:'POST',
             body:JSON.stringify({email,password}),
             headers:{'Content-Type':'application/json'}
            })
            const data = await res.json();
            console.log(data);
            if(data.errors){
             errorEmail.textContent =data.errors.email;
             errorPassword.textContent=data.errors.password;
            }
       //presence of  the  user
            if(data.user){

              location.assign('/')
            }
  } catch (error) {
            console.log(err);
        }    
    
     })

 </script>

<%-include('partials/footer.ejs');-%>